.vw_card {
    padding: 60px 8.333% 10px;
    display: flex;
    flex-flow: row wrap;
}

.vw_card__errors {
    width: 100%;
    padding: 0 0 20px 0;
    margin: 0;
    list-style: none;
    color: #c82e2d;
}

.vw_card__left {
    width: 60%;
    margin-right: 10%;
}

.vw_card__right {
    width: 30%;
    padding-top: 50px;
}

.vw_card__right_inner {
    display: flex;
    flex-wrap: wrap;
}

.vw_card__order,
.vw_card__price {
    width: 100%;
    margin-bottom: 40px;
}

.vw_card__order {
    margin-bottom: 15px;
}

.vw_card__desc {
    font-size: 14px;
    color: #808890;
    line-height: 22px;
}

.vw_card__main {
    line-height: 1.209;
    letter-spacing: -.25px;
    font-weight: 600;
    font-size: 24px;
    color: #1d1f20;
}

.vw_card__header {
    display: block;
    color: #1d1f20;
    font-family: vw_head, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.191;
    letter-spacing: -.25px;
    margin-bottom: 20px;
    position: relative;
}

.choose-type__item {
    display: inline-block;
    width: 90px;
    height: 48px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #dee1e3;
    border-radius: 4px;
    background-color: #fff;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .3s;
    margin-bottom: 4px;
    line-height: 48px;
}

.choose-type__item:hover,
.choose-type__item:focus {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.choose-type__item:active,
.choose-type__item:focus {
    border-color: #4a90e2;
}

.choose-type__item img {
    max-width: 70px;
    max-height: 38px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

@media (max-width: 810px) {
    .vw_card__header {
        font-size: 21px;
        margin-bottom: 15px;
    }

    .vw_card__main {
        font-size: 18px;
    }

    .vw_card__left {
        width: 50%;
        margin-right: 20%;
    }

    .vw_card__right {
        width: 30%;
        padding-top: 38px;
    }
}

@media (max-width: 767px) {
    .vw_card {
        flex-direction: column;
        padding: 20px 8.5% 0;
    }

    .vw_card__left {
        margin: 0 0 20px 0;
        width: 100%;
        order: 2;
    }

    .vw_card__right {
        width: 100%;
        padding-top: 0;
        padding-bottom: 20px;
    }

    .vw_card__right_inner {
        display: flex;
        flex-wrap: wrap;
    }

    .vw_card__price,
    .vw_card__order {
        margin-bottom: 0;
        width: 50%;
    }

    .vw_card__price {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
    }

    .choose-type__item {
        width: 49%;
    }
}
