@font-face {
    font-family: 'seropro';
    src: url('../fonts/SeroPro.eot');
    src: local('☺'), url('../fonts/SeroPro.woff') format('woff'), url('../fonts/SeroPro.ttf') format('truetype'), url('../fonts/SeroPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'seropro-medium';
    src: url('../fonts/SeroPro-Medium.eot');
    src: local('☺'), url('../fonts/SeroPro-Medium.woff') format('woff'), url('../fonts/SeroPro-Medium.ttf') format('truetype'), url('../fonts/SeroPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'rublregular';
    src: url('../fonts/rouble.eot');
    src: url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rouble.woff') format('woff'),
    url('../fonts/rouble.ttf') format('truetype'),
    url('../fonts/rouble.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vw_head';
    src: url('../fonts/VWHeadOffice.woff2') format('woff2'),
    url('../fonts/VWHeadOffice.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vw_text';
    src: url('../fonts/VWTextOffice-Bold.woff2') format('woff2'),
    url('../fonts/VWTextOffice-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'vw_head';
    src: url('../fonts/VWHeadOffice-Bold.woff2') format('woff2'),
    url('../fonts/VWHeadOffice-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'vw_text';
    src: url('../fonts/VWTextOffice.woff2') format('woff2'),
    url('../fonts/VWTextOffice.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}