html, body {width: 100%; height: 100%;}
html {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body {-webkit-font-smoothing: antialiased;}
* {margin: 0; padding: 0;}
a:active, a:hover, a:focus, input:focus, textarea:focus {outline: 0;}
b, strong {font-weight: bold;}
pre {white-space: pre-wrap;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;} sub {bottom: -0.25em;}
button {border: 0; background: none; outline: 0 !important;}
button::-moz-focus-inner, input::-moz-focus-inner, img, legend, a img {border: 0;}
button, input, select, textarea {font-family: inherit; font-size: 100%;}
button, input {line-height: normal;}
button, select {text-transform: none;}
button, input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer;}
button[disabled], input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
textarea {overflow: auto; vertical-align: top; resize: none;}
table {border-collapse: collapse; border-spacing: 0;}
input::-webkit-input-placeholder {opacity: 1;}
input::-moz-placeholder {opacity: 1;}
input:-ms-input-placeholder {opacity: 1;}