html {
    font-size: 62.5%;
}

body {
    background-color: #dee1e3;
    line-height: 1.3;
    letter-spacing: 0.2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-width: 320px;
    font-family: vw_text, sans-serif;
    font-size: 1.6rem;
    color: #2f3538;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.wrapper {
    max-width: 810px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

.vw_header {
    padding-top: 40px;
    padding-bottom: 20px;
}

.vw_header__title {
    font-size: 45px;
    line-height: 1.1;
    letter-spacing: -.25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.vw_header__desc {
    text-align: center;
}

.vw_main {
    background-color: #f3f5f6;
}

.vw_desc {
    border-top: 1px solid #dee1e3;
    padding: 40px 8.333% 60px;
}

.vw_desc__logo {
    filter: grayscale(1);
    opacity: .8;
    height: 32px;
    display: block;
    background: url(../images/sberbank.svg) no-repeat 0 0;
    margin: 0 0 16px 0;
}

.vw_desc__text {
    font-size: 11px;
    line-height: 16px;
    color: #808890;
}

.ps-logos {
    width: 183px;
    height: 40px;
    margin: 12px 0 0 0;
    background: url(../images/ps-logos.png) no-repeat 0 0;
    background-size: 183px 40px;
}

@media (max-width: 810px) {
    .wrapper {
        max-width: 710px;
    }
}

@media (max-width: 767px) {
    .vw_header {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .vw_header__title {
        font-size: 23px;
        margin-bottom: 10px;
    }

    .vw_header__desc {
        font-size: 15px;
    }
}

@media (max-width: 699px) {
    .wrapper {
        padding-bottom: 74px;
    }
}